*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
 display: flex;
 justify-content: center;
 align-items: center;
min-height: 100vh;
}

.animation-img{
    width: 200px;
    height: 200px;
    animation: imagemove 1s linear 1s, imageradius 1s linear 2s forwards;
}
@keyframes imagemove {
    0% {
      opacity: 0;
      transform: translate(100%, 100%);
    }
    50% {
      transform: translatex(-200px) scale(2);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes imageradius {
    0% {
      border-radius: 0%;
    }
    100% {
      transform: scale(1.5);
      border-radius: 50%;
    }
  }
